
@{
    ViewBag.Title = "add";
}

<h2>add</h2>
<html>
<body>
@using (Html.BeginForm("add", "search", FormMethod.Post))
{
    <table border="1" border-collapse="collapse"  style="width:100%" class="table table-bordered">
            <tr>
                <td>訂單編號</td>
                <td colspan="3"><input type="text" name="orderId" value="@ViewBag.orderId " readonly="readonly"/></td>
            </tr>
            <tr>
                <td>客戶名稱</td>
                <td colspan="3">
                    <select name="custName">
                        
                        @foreach (var item in (List<HW.Models.Customers>)ViewBag.customers)
                        {
                            <option value="@item.CustomerID">@item.CompanyName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>負責員工名稱</td>
                <td colspan="3">
                    <select name="emp">
                        @foreach (var item in (List<HW.Models.Employees>)ViewBag.employees)
                        {
                            <option value="@item.EmployeeID">@item.FirstName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>訂單日期</td>
                <td><input type="date" name="orderDate" /></td>
                <td>需要日期</td>
                <td><input type="date" name="requestDate" /></td>
            </tr>
            <tr>
                <td>出貨日期</td>
                <td colspan="3"><input type="date" name="shipDate" /></td>
            </tr>
            <tr>
                <td>出貨公司名稱</td>
                <td colspan="3">
                    <select name="shipName">
                        @foreach (var item in (List<HW.Models.Shippers>)ViewBag.shippers)
                        {
                            <option value="@item.ShipperID">@item.CompanyName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>運費</td>
                <td colspan="3"><input type="text" name="cost" oninput="changeTotal()"/></td>
            </tr>
            <tr>
                <td>出貨國家</td>
                <td><input type="text" name="shipcountry" /></td>
                <td>出貨城市</td>
                <td><input type="text" name="shipcity" /></td>
            </tr>
            <tr>
                <td>出貨地區</td>
                <td><input type="text" name="shiparea" /></td>
                <td>郵遞區號</td>
                <td><input type="text" name="shipaddno" /></td>
            </tr>
            <tr>
                <td>出貨地址</td>
                <td><input type="text" name="shipaddress" /></td>
                <td>出貨說明</td>
                <td><input type="text" name="shipdesc" /></td>
            </tr>
            <tr>
                <td>訂單金額總計</td>
                <td colspan="3"><input type="text" name="total" /></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">
                    <input type="submit" class="btn btn-success" value="存檔" />
                    <a href="/search"><input type="button" class="btn btn-info" value="回前一頁" /></a>
                </td>
            </tr>
        </table>
    <br />
    <h3>訂單明細</h3>
    <br /><br />
    <input type="button" class="btn btn-default" value="+新增明細" onclick="addrow()" /><br />
    <table id="odetailTable" border="1" style="width:100%" class="table table-bordered">
        <tr>
            <td>商品</td>
            <td>單價</td>
            <td>數量</td>
            <td>小計</td>
            <td></td>
        </tr>
    </table>
}
</body>
</html>
<script  type="text/javascript">
    var count = document.getElementById("odetailTable").rows.length - 1;
    function addrow(){
        count++;
        var odetailTable = document.getElementById("odetailTable");
        var tableData = odetailTable.tBodies[0];

        var tr = document.createElement("tr");
        var product = document.createElement("td");
        var select = document.createElement("select");
        select.setAttribute("id", "product" + count);
        select.setAttribute("onchange", "turnProduct('product" + count + "')");//當發生改變
        select.setAttribute("name", "productName[" + count+"]");

        //預設一開始
        var option = new Option("選擇產品", "");
        select.appendChild(option);

        @foreach (var proData in (List<HW.Models.Products>)ViewBag.products)
        {
            @:var option = new Option("@proData.ProductName", "@proData.ProductID");
            @:select.appendChild(option);
        }


    //price
    var price = document.createElement("td");
    price.innerHTML = "<input type'text' id='price" + count + "' value='0' name='price[" + count+"]'  oninput='changesubtotal("+count+")'>";

    //qty
    var qty = document.createElement("td");
    qty.innerHTML = "<input type'text' id='qty" + count + "' value='0' name='qty[" + count + "]'  oninput='changesubtotal(" + count + ")'>";

    //subtotal
    var sum=0;
    var subtotal = document.createElement("td");
    subtotal.innerHTML = "<input type'text' id='subtotal" + count + "' value='0' name='subtotal' value='0'>";

    //cancel
    var cancel = document.createElement("td");
    var button=document.createElement("button");

    button.innerText="取消";
    button.setAttribute("id",count);
    button.setAttribute("onclick", "delerow(" + count + ")");
    button.setAttribute("class", "btn btn-danger");

    product.appendChild(select);
    cancel.appendChild(button);
    tr.appendChild(product); //產品
    tr.appendChild(price);  //單價
    tr.appendChild(qty);  //數量
    tr.appendChild(subtotal);  //小計
    tr.appendChild(cancel);  //取消
    tableData.appendChild(tr);
    }
    function delerow(num){
        var odetailTable = document.getElementById("odetailTable");
        if(num!=count){
            num++;
        }else{
            num=count;
        }
        odetailTable.deleteRow(num);
        count--;
    }
    //改變產品選項
    function turnProduct(selectId) {
        var select = document.getElementById(selectId);

        for (var i = 0; i < select.options.length; i++) {
            if (select.options[i].selected) {
                turnPrice(select.options[i].value, select.id);
                changeTotal();
                break;
            }
        }
    }
    function turnPrice(productId, selectId) {
        var id = selectId.substring(7);  //分割product，1
        var price = document.getElementById("price" + id);
        var qty = document.getElementById("qty" + id);
        var subtotal = document.getElementById("subtotal" + id);

        $.ajax({
            type: "GET",
            url: "/search/orderPrice",
            data: {
                productId: productId
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (returnPrice) {
                price.value = returnPrice;
                subtotal.value = Math.round(price.value * qty.value);
            }
        })
    }

    //修改單價或數量，小計改變
    function changesubtotal(id) {
        var price = document.getElementById("price" + id);
        var qty = document.getElementById("qty" + id);
        var subtotal = document.getElementById("subtotal" + id);
        subtotal.value = Math.round(price.value * qty.value);
        changeTotal();
    }
    //改變total
    function changeTotal() {
        var value = 0;

        var length = document.getElementById("odetailTable").rows.length - 1;

        for (var i = 0; i < length; i++) {
            value = Number(value) + Number(document.getElementsByName("subtotal")[i].value);
           
        }
        value += Number(document.getElementsByName("cost")[0].value);
        document.getElementsByName("total")[0].value = Math.round(value);
    }

</script>
